* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 100px auto 100px;
    height: 100vh;
    width: 100vw;
}

.container div {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.container div:first-child {
    grid-area: 1 / 1 / 2 / 4;
    background-color: yellow;
}

.container div:last-child {
    grid-area: 3 / 1 / 4 / 4;
    background-color: green;
}

.left-side, .right-side {
    background-color: purple;
}

.container div:nth-child(3) {
    background-color: aqua;
}